$md-btn-bg-color: #E91E63;

.md-btn {
  display: inline-block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
  border: none;
  outline: none;
  padding: 0 1.5rem;
  height: 35px;
  line-height: 35px;
  background-color: $md-btn-bg-color;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.3s ease-out;
}
.md-btn:hover { 
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225); 
  background-color: lighten($md-btn-bg-color, 10%); 
  cursor: pointer;
}
